<h3>Update Product</h3>
<ng-container *ngIf="($selectedProduct | async) as selectedProduct">
    <div class="item-div">
        <div class="image-div"><img src={{selectedProduct?.imgUrl}}></div>
        <div class="details-div">
        <p class="productName">{{selectedProduct?.product_name}}</p>
        <p class="price">Price: $ <strong>{{selectedProduct?.price}}</strong><p>
        <p class="qty">Qty(In Stock): {{selectedProduct?.quantity}} </p>
        <li *ngFor = "let category of selectedProduct?.categories">
            Category: {{category?.category_name}}
        </li>
        </div>
    </div>
    <h3>Add Category to Product</h3>
<ng-container *ngIf = "($categories | async) as categories">
    <form [formGroup] = 'addCategory'>
        <select class="custom-select" (change)="changeCategory($event)" formControlName="categoryName">
            <option value="">Choose category</option>
            <option *ngFor="let category of categories" [ngValue]="category?._id">{{category.category_name}}</option>
        </select>
        <button (click)="addCategoryToProduct(selectedProduct._id)">Add Category</button>
    </form>
</ng-container>
</ng-container>

