
<div class="products-div">
    <table id="products">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity(In Stock)</th>
                <th>Update Product</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of (products$ | async); let i = index">
                <tr class="products-details-row">
                    <td>
                        {{i+1}}
                    </td>
                    <td class="product-img-column">
                        <img src="{{product?.imgUrl}}">
                    </td>
                    <td class="product-name-column">
                        <p>{{product.product_name}}</p>
                    </td>
                    <td class="product-price-column">
                        <p>{{product.price}}</p>
                    </td>
                    <td class="product-stock-column">
                        <p>{{product.quantity}}</p>
                    </td>
                    <td>
                        <button (click)="editProduct(product)">Edit
                            <app-edit-product [selectedProduct]="(product)"></app-edit-product>
                        </button>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<!-- <ng-container *ngIf="($selectedProduct | async) as selectedProduct">
    <div class="item-div">
        <div class="image-div"><img src={{selectedProduct?.imgUrl}}></div>
        <div class="details-div">
        <p class="productName">{{selectedProduct?.product_name}}</p>
        <p class="price">Price: $ <strong>{{selectedProduct?.price}}</strong><p>
        <p class="qty">Qty(In Stock): {{selectedProduct?.quantity}} </p>
        <li *ngFor = "let category of selectedProduct?.categories">
            Category: {{category?.category_name}}
        </li>
        </div>
    </div>
    <h3>Add Category to Product</h3>
<ng-container *ngIf = "($categories | async) as categories">
    <form [formGroup] = 'addCategory'>
        <select class="custom-select" (change)="changeCategory($event)" formControlName="categoryName">
            <option value="">Choose category</option>
            <option *ngFor="let category of categories" [ngValue]="category?._id">{{category.category_name}}</option>
        </select>
        <button (click)="addCategoryToProduct(selectedProduct._id)">Add Category</button>
    </form>
</ng-container>
</ng-container>
 -->
