<!-- <div class="nav">
    <input type="checkbox" id="menu">
    <label for="menu">&#9776;</label> -->

    <div class="multi-level">
        <div class="item">
            <input type="checkbox" id="A">
            <label for="A">Books</label>

            <ul>
                <li>Children's Books</li>
                <li>Science and Technology</li>
                <li>Comics</li>
            </ul>
        </div>

        <div class="item">
            <input type="checkbox" id="B">
            <label for="B">Clothing</label>

            <ul>
                <li><div class="sub-item">
                    <input type="checkbox" id="B-A">
                    <label for="B-A">Men</label>

                    <ul>
                        <li>Shirts</li>
                        <li>Watches</li>
                        <li>Shoes</li>
                    </ul>
                </div></li>

                <li><div class="sub-item">
                    <input type="checkbox" id="B-B">
                    <label for="B-B">Women</label>

                    <ul>
                        <li>Tops</li>
                        <li>Jeans</li>
                    </ul>
                </div></li>
                <li>Kids</li>
                <li>Baby</li>
            </ul>
        </div>
    </div>
<!-- </div> -->
