<div>
    <form [formGroup] = 'addProduct'>
        <input type="text" formControlName='name' placeholder="product name">
        <input type="number" formControlName='price' placeholder="price">
        <input type="number" formControlName='quantity' placeholder="quantity">
        <input type="text" formControlName='imgUrl' placeholder="imgUrl">
        <!--<select formControlName='category'>
            <option *ngFor="let pCategory of pCategories">
                {{}}
            </option>
        </select>-->
        <button (click)='postProduct()' [disabled]='addProduct.invalid'>Add Product</button>
    </form>
</div>


<!--   Upload Image
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
-->


  
  
 
