div {
    display: inline-block;
    padding: 20px;
    //border: 1px solid black;
}

img {
    border-radius: 8px;
    width: 200px;
}

.price {
    color: darkred;
}

.name {
    color: blue;
}

button {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(223, 223, 51);
}